* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: salmon;
}

.wrapper {
    max-width: 36rem;
    margin: 4rem auto;
    background-color: #fff;
    border: 2px solid gray;
    padding: 2rem;
}

.site-header {
    padding-bottom: 1rem;
}

.site-header-title {
    text-align: center;
    background-color: aquamarine;
    padding: 2rem;
    margin-bottom: 1rem;
}

.site-header-menu {
    list-style: none;
    padding: 0;
    text-align: center;
}

.site-header-menu-item {
    display: inline-block;
    margin: 0 1rem;
}

.section-image {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}